<!DOCTYPE html>
<html lang="en">
    {% load static %}
   {% include "head.html" %}

   
<body>
    <!-- Navbar Section Starts-->
    {% include "navbar.html" %}
    <!-- Navbar Section Ends -->
    {{s|safe}}

    
    
    <section class="work">
        <div class="container">
            <div class="row">
                <h3 class="text-heading">Behavioral Pattern Analysis between Bilingual and
                    Monolingual Listeners’ Natural Speech Perception on
                    Foreign-Accented English Language Using Different
                    Machine Learning Approaches                    
                </h3>
                <p style="font-style: italic;">By admin / Jan 18, 2023</p>
            </div>
        </div>

        <div class="container">
            <p>To differentiate between bilingual and monolingual listeners a deep neural network-based model was proposed in a recent work. Where the authors 
                implemented Classification and regression trees (CART), Logistic Regression (LR), also Naive Bayes (NB), Support vector machine (SVM), and 
                Naive Bayes (NB) and analyzed the participants' behavioral pattern to improve the measurement accuracy. Though the performance of the proposed 
                deep neural network may fluctuate when applied to a larger dataset...<a href="https://www.mdpi.com/2227-7080/9/3/51">continue reading</a>
            </p>
                    
        </div>
        <div class="container">
            <div class="row">
                <h3 class="text-heading">Speech Enhancement for Hearing Aids with Deep
                    Learning on Environmental Noises
                    </h3>
                <p style="font-style: italic;">By admin / Jan 18, 2023</p>
            </div>
        </div>

        <div class="container">
            <p>In [8] Park et al. used CNN (with two types of image filters) to increase noise classification rate and DNN to improve the noise reduction 
                performance. Using deep learning approaches proposed a speech enhancement algorithm considering the environmental noises as hearing aids 
                operate in such situations and enhance the speech quality. For advanced hearing aid chips and speech signal processing more complex 
                algorithms could be applied to the hearing aids. Detailed hearing compensation could be provided to the diverse characteristics of hearing...<a href="https://www.mdpi.com/2076-3417/10/17/6077">continue reading</a>
            </p>
                    
        </div>
        <div class="container">
            <div class="row">
                <h3 class="text-heading">Speech Intelligibility Predicted from Neural Entrainment
                    of the Speech Envelope                    
                    </h3>
                <p style="font-style: italic;">By admin / Jan 18, 2023</p>
            </div>
        </div>

        <div class="container">
            <p>In another work [3] Hout et al. shows, using the stimulus reconstruction method, an objective measure of brain processing of the speech envelope was 
                created, and it was compared to behaviorally evaluated speech intelligibility. The authors used the ideal parameters and compared them to the behavioral 
                SRT and by calculating the correlation between the actual speech envelope and the reconstructed envelope for each SNR. There was a gap in knowledge 
                between the electrophysiological and behavioral approaches of hearing evaluation. The behavioral approaches can produce an accurate estimate of speech 
                intelligibility but suffer from a number of confounding effects...<a href="https://pubmed.ncbi.nlm.nih.gov/29464412/">continue reading</a>   
        </div>

            <div class="clearfix"></div>
        </div>
    </section>
   


    <!-- social Section Starts  -->
    <section class="social">
        <div class="container text-center">
            <ul>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/twitter.png"/></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- social Section Ends -->

    <!-- footer Section Starts -->
    <section class="footer">
        <div class="container text-center">
            <p>All rights reserved. Designed By <a href="#">Group 2</a></p>
        </div>
    </section>
    <!-- footer Section Ends -->

</body>
</html>