<!DOCTYPE html>
<html lang="en">
    {% load static %}
   {% include "head.html" %}

<body>
    <!-- Navbar Section Starts-->
    {% include "navbar.html" %}
    <!-- Navbar Section Ends -->


    <section class="work-contact">
        <div class="container">
            <div class="container">
            
                <h3 class="text-center text-white">CONTACT US</h3>
                <h4 class="text-center text-white">Call Us @ 017 5569 0000 (weekly 7 days, 10 am - 6 pm)</h4>
    
                    
                    <fieldset>
                        <div class="input-label">Name:</div>
                        <input type="text" name="name" placeholder="E.g. Roy" class="input-responsive" required>
    
                        <div class="input-label">Email:</div>
                        <input type="email" name="email" placeholder="E.g. roy@gmail.com" class="input-responsive" required>
    
                        <div class="input-label">Message:</div>
                        <textarea name="message" rows="4" placeholder="E.g. Street, City, Country" class="input-responsive" required></textarea>
    
                        <input type="submit" name="submit" value="Send" class="btn btn-primary">
                    </fieldset>
    
    
            </div>
            

            <div class="clearfix"></div>
        </div>
    </section>
   


    <!-- social Section Starts -->
    <section class="social">
        <div class="container text-center">
            <ul>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/twitter.png"/></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- social Section Ends -->

    <!-- footer Section Starts  -->
    <section class="footer">
        <div class="container text-center">
            <p>All rights reserved. Designed By <a href="#">Group 2</a></p>
        </div>
    </section>
    <!-- footer Section Ends  -->

</body>
</html>