<!DOCTYPE html>
<html lang="en">
    {% load static %}
   {% include "head.html" %}

<body>
    
    <!-- Navbar Section Starts -->
    {% include "navbar.html" %}
    <!-- Navbar Section Ends -->

    <!-- banner Section Starts -->
    <section class="banner text-center">
        <div class="container">
            
            <h2 style="color:white;text-shadow: 5px 5px 10px black;font-family:verdana;"> Speech Enhancement Research</h2>

        </div>
    </section>
    <!-- banner Section Ends -->

    <style>
        .div1{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 75%;
        }
        .img1{
            max-width: 100px;
            height: 100px;
            object-fit: contain;
        }
    </style>

<section class="text-center" style="background-color: white; padding: 3% 0;margin: 5px;">
    <div class="container">
        <h2 class="text-center" style="padding-bottom: 15px;">About Us</h2>
        <div class="div1">
            <div class="img1" style="padding-right: 315px;">
                <img src="../static/images/12.jpg">
            </div>
            

            <div class="img1" style="padding-left: 10px;">
                <img src="../static/images/14.png">
            </div>
           
        </div>
        <Br></Br>
        <div class="div1">
            <div class="detail">
                <h4 class="text-center" style="padding-right: 30px;">How It Works</h4>
                <br>
                <p class="text-center" style="padding-right: 30px; text-align: center;">
                Bilingual and monolingual people can rate their experiences listening to foreign-accented 
                speech in environments with varying levels of bubble noise, white noise, and quiet speech 
                . And these rating will accurately predict sound level preference in noise perception using a machine learning model.
                Our motto is to improve the quality and intelligibility of a speech fragment in applications such as hearing aids, automatic speech recognition (ASR), mobile communication, etc.
                </p>
            </div>

            <div class="detail">
                <h4 class="text-center" style="padding-left: 40px;">Our Research</h4>
                <br>
                <p class="text-center" style="padding-left: 60px; text-align: center;">
                    Speech intelligibility is currently measured by scoring how well a person can identify a speech signal. The results of such behavioral measures 
                    reflect neural processing of the speech signal but are also influenced by language processing, motivation, and memory. Our research work is  
                    Speech intelligibility Prediction from Behavioral Patterns by Using Supervised Machine Learning Algorithms for Bilingual & Monolingual Listeners with the help of speech stimuli data.
                </p>
            </div>
        </div>
    </div>
   
</section>

    <!-- related work Section Starts -->
   
    <!-- related work Section Ends -->

    <!-- social Section Starts -->
    <section class="social">
        <div class="container text-center">
            <ul>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/50/000000/facebook-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/></a>
                </li>
                <li>
                    <a href="#"><img src="https://img.icons8.com/fluent/48/000000/twitter.png"/></a>
                </li>
            </ul>
        </div>
    </section>
    <!-- social Section Ends-->

    <!-- footer Section Starts-->
    <section class="footer">
        <div class="container text-center">
            <p>All rights reserved. Designed By <a href="#">Group 2</a></p>
        </div>
    </section>
    <!-- footer Section Ends-->

</body>
</html>